.profile {
  display: grid;
  grid-template-columns: 120px 30px 415px 165px 150px;
  align-items: center;
  width: 100%;
  max-width: 880px;
}

.profile__image {
  width: 100%;
  max-width: 120px;
  max-height: 120px;
  border-radius: 50%;
}

.profile__info {
  width: 100%;
  max-width: 415px;
  display: flex;
  align-items: baseline;
  grid-column-start: 3;
}
.profile__name {
  font-size: 42px;
  font-weight: 500;
  max-width: 373px;
  margin: 0;
}

.profile__profession {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  align-self: flex-end;
  grid-column-start: 2;
  grid-row-start: 1;
  padding-left: 30px;
}

.profile__edit-button {
  padding: 0;
  max-width: 24px;
  max-height: 24px;
  border: 1px solid white;
  margin-left: 18px;
  background-color: #000;
  box-sizing: content-box;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 60%;
}

.profile__edit-button-image {
  width: 24px;
  height: 24px;
}

.profile__add-button {
  max-width: 150px;
  height: 50px;
  grid-column-start: 5;
  background-color: #000;
  box-sizing: border-box;
  border: 1px solid white;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 60%;
}

.profile__add-button-image {
}

@media screen and (max-width: 1024px) {
  .profile {
    max-width: 580px;
    grid-template-columns: 120px 30px 200px 80px 150px;
  }

  .profile__info {
    grid-column-end: 5;
  }

  .profile__name {
    font-size: 22px;
    max-width: 768px;
  }

  .profile__edit-button {
    max-width: 21px;
    max-height: 21px;
  }

  .profile__edit-button-image {
    width: 21px;
    height: 21px;
  }

  .profile__profession {
    font-size: 14px;
  }

  .profile__add-button {
    padding-left: 0;
  }
}

@media screen and (max-width: 650px) {
  .profile {
    max-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .profile__info {
    justify-content: space-evenly;
  }

  .profile__name {
    font-size: 22px;
    max-width: 768px;
    margin-top: 30px;
    margin-bottom: 14px;
  }

  .profile__edit-button {
    max-width: 14px;
    max-height: 14px;
  }

  .profile__edit-button-image {
    width: 14px;
    height: 14px;
  }

  .profile__profession {
    font-size: 14px;
    padding-left: 0;
    align-self: center;
  }

  .profile__add-button {
    width: 100%;
    max-width: 282px;
    margin-top: 36px;
  }
}
