.page {
  background-color: #000;
  color: #fff;
  font-family: "Inter", sans-serif;
  padding-right: 200px;
  padding-left: 200px;
}

.header {
  width: 100%;
  max-width: 880px;
  padding-top: 45px;
  padding-bottom: 40px;
}

.header__logo {
}

.header__line {
}

.main {
}

.profile {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 880px;
  max-height: 120px;
  padding-bottom: 50px;
}

.profile__image {
  width: 100%;
  max-width: 120px;
  max-height: 120px;
  border-radius: 50%;
}

.profile__info {
  width: 100%;
  max-width: 415px;
  display: flex;
  align-items: baseline;
  padding-left: 30px;
}
.profile__data-span {
  font-size: 42px;
  font-weight: 500;
  max-width: 373px;
}

.profile__data {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

.profile__edit-button {
  max-width: 24px;
  max-height: 24px;
}

.profile__add-button {
  max-width: 150px;
  max-height: 50px;
  padding-left: 165px;
}

.elements {
  display: grid;
  grid-template-columns: repeat(3, 282px);
  grid-template-rows: repeat(2, 361px);
  grid-gap: 17px 20px;
}

.elements__card {
  max-width: 282px;
  max-height: 361px;
  background-color: #fff;
}

.elements__image {
  width: 100%;
  max-width: 282px;
  max-height: 282px;
}

.elements__card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.elements__name {
  color: #000;
  font-weight: 900;
  font-size: 24px;
}

.elements__like-button {
  max-width: 20px;
  max-height: 20px;
}

.footer {
  color: #545454;
  padding: 67px 0 60px;
}
