@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/body.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/profile.css);
@import url(../blocks/elements.css);
@import url(../blocks/footer.css);

@media screen and (max-width: 650px) {
  .main {
    padding-top: 42px;
  }
}

/*
@media screen and (max-width: 1024px) {
  .header {
    max-width: 580px;
  }

  .header__logo {
    max-width: 580px;
  }

  .profile {
    max-width: 580px;
  }

  .profile__name {
    font-size: 32px;
    max-width: 768px;
  }

  .profile__edit-button {
    max-width: 21px;
    max-height: 21px;
    align-self: center;
  }

  .profile__profession {
    font-size: 16px;
  }

  .profile__add-button {
    padding-left: 82px;
  }

  .elements {
    display: grid;
    grid-template-columns: repeat(2, 282px);
  }

  .footer {
    max-width: 580px;
  }
}

@media screen and (max-width: 650px) {
  .header {
    max-width: 320px;
  }

  .header__logo {
    max-width: 320px;
  }

  .profile {
    max-width: 320px;
    flex-direction: column;
  }

  .profile__info {
  }
  .profile__data-span {
    font-size: 22px;
    max-width: 768px;
  }

  .profile__data {
    font-size: 14px;
  }

  .profile__edit-button {
    max-width: 14px;
    max-height: 14px;
    align-self: center;
  }

  .profile__add-button {
    max-width: 282px;
  }
  .elements {
    display: flex;
    flex-direction: column;
  }

  .footer {
    max-width: 320px;
  }
}*/
